#root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    background-color: rgb(40, 40, 40);
    color: white;
    padding: 16px 24px;
    margin: 10px;
    width: fit-content;
    border-radius: 10px;
}

.products {
    width: 100%;
    display: flex;
}

.product {
    padding: 20px;
    margin: 10px;
    background-color: skyblue;
    width: 200px;
    border-radius: 14px;
}

.img {
    width: 100%;
    height: 300px;
    border-radius: 12px;
}

.btn {
    width: 200px;
    font-size: 18px;
    padding: 16px 24px;
    border: 0;
    border-radius: 8px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.App {
    text-align: center;
}

input {
    width: 250px;
    padding: 12px 18px;
    font-size: 16px;
    border: 1px solid lightgrey;
    border-radius: 8px;
}
input:focus {
    outline: none;
    border: 1px solid dodgerblue;
}

.form {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.data {
    background-color: black;
    color: white;
    text-align: center;
    width: 80px;
    padding: 16px 24px;
    margin: 10px;
    border-radius: 12px;
}